@model CC9_Question_2.Models.Movie
@{
    ViewBag.Title = "Create";
}

<h2>Create Movie</h2>
<form method="post">
    <p>Movie Name: <input type="text" name="Moviename" /></p>
    <p>Director Name: <input type="text" name="DirectorName" /></p>
    <p>Date of Release: <input type="date" name="DateofRelease" /></p>
    <input type="submit" value="Create" />
</form>



